/* body {
  background-image: url("./background-sm.webp");
  background-position: center 56px;
  background-size: 100% auto;
  background-repeat: no-repeat;
} 

@media (min-width: 600px) {
  body {
    background-image: url("./background.webp");
    background-position: center 64px;
  }
}
*/
